.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-content {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }

  .card {
    background: rgb(255 255 255 / 60%);    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Blur effect for Safari */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 20px;
  }

  .card-header{
    background-color: transparent;
  }

  label{
font-size: 20px !important;
font-weight: 600;
  }